@import "./partials/bootstrap_override";

.logo {
  width: 100px;
}
.avatar {
  width: 40px;
}
.bi bi-bell-fill {
  width: 30px;
}
.btn btn-secondary rounded-0 dropdown-toggle {
  background-color: black;
}
.movie {
  width: 100vw;
}
footer {
  width: 70vw;
  height: 25vh;
  margin-inline: auto;
  /* margin-top: 70px; */
  padding-top: 50px;
}
.textFooter {
  font-size: 0.8rem;
  margin: 3px;
}
.footerBtn {
  font-size: 0.7rem;
}
.textFooterDue {
  font-size: 0.6rem;
}
.userBack {
  background-color: rgb(20, 20, 20);
}
.userLogo {
  width: 130px;
}
.UserProfile {
  width: 50vw;
}
.userAvatar {
  width: 150px;
}
.inputUser input {
  width: 415px;
}
.bg-secondary {
  background-color: rgb(51, 51, 51);
}
.check {
  display: block;
  position: relative;

  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.check:hover input ~ .checkmark {
  background-color: #ccc;
}
.check input:checked ~ .checkmark {
  background-color: #2196f3;
}
.checkmark:after {
  content: "√";
  position: absolute;
  display: none;
  width: 5px;
}
.check input:checked ~ .checkmark:after {
  display: block;
}
.check.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
