@import "./partials/bootstrap_override";

.logo {
  width: 100px;
}
.avatar {
  width: 40px;
}
.bi bi-bell-fill {
  width: 30px;
}
.btn btn-secondary rounded-0 dropdown-toggle {
  background-color: black;
}
.movie {
  width: 100vw;
}
