@import "./partials/bootstrap_override";

.logo {
  width: 100px;
}
.avatar {
  width: 40px;
}
.bi bi-bell-fill {
  width: 30px;
}
.btn btn-secondary rounded-0 dropdown-toggle {
  background-color: black;
}
.movie {
  width: 110vw;
}
.movieContainer {
  max-width: 100vw;
  overflow: hidden;
}
footer {
  width: 70vw;
  height: 25vh;
  margin-inline: auto;
  /* margin-top: 70px; */
  padding-top: 50px;
}
.textFooter {
  font-size: 0.8rem;
  margin: 3px;
}
.footerBtn {
  font-size: 0.7rem;
}
.textFooterDue {
  font-size: 0.6rem;
}
.userBack {
  background-color: rgb(20, 20, 20);
}
.userLogo {
  width: 130px;
}
.UserProfile {
  width: 70vw;
}
.userAvatar {
  width: 150px;
}

.bg-secondary {
  background-color: rgb(51, 51, 51);
}
.maturity {
  width: 200px;
  background-color: rgb(51, 51, 51);
}
#flexCheckDefault {
  vertical-align: middle;
  background-color: var(--bs-btn-bg);
}
.form-check-label {
  vertical-align: middle;
}
.form-check-input:checked {
  background-color: transparent;
}
.form-check-input:checked {
  background-color: rgb(109, 117, 125);
  border-color: rgb(109, 117, 125);
}

.login {
  text-decoration: none;
  color: white;
}
.userAvatar {
  position: relative;
}

.badge {
  position: relative;
  transform: translateX(-140px) translatey(120px);
  background-color: rgb(51, 51, 51);
}
